$primary-color: #35007B;
$focus-color: #457B00; 
$text-color: #f3eaff;

$title-fontFamily: "Lato", sans-serif;
$text-fontFamily: "Montserrat", sans-serif;
$focus-fontFamily: "Tiny5", sans-serif; //Ainda em teste!