$primary-color: #35007B;
$focus-color: #72c900fd; 
$text-color: #f3eaff;
$text-color-backgroundWhite: #28005C;
$text-color-backgroundPurple: #E5FFC2;

$title-fontFamily: "Lato", sans-serif;
$text-fontFamily: "Montserrat", sans-serif;
$focus-fontFamily: "Tiny5", sans-serif; //Ainda em teste!