@use '/src/styles/variables' as var;

.menu {
    background-color: var.$primary-color; //purple color
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: .5em 1em;
    height: max-content;

    span {
        font-family: var.$title-fontFamily;
        font-size: 1.5rem;
        font-weight: bold;
        color: var.$focus-color; //green color

        user-select: none;
        cursor: pointer;
    }
}

.containerItems {
    list-style: none;

    display: flex;
    gap: 15px;

    li {
        position: relative;
        transition: all 0.3s ease;

        &:hover {
            transform: translateY(-3px);
        }

        &::after {
            content: '';

            position: absolute;
            bottom: -5px;
            left: 0;
            z-index: -1;
            transform: scaleY(0);

            background-color: var.$focus-color; //green color

            height: 4px;
            width: 100%;

            transform-origin: bottom;
            transition: transform 0.3s ease;
        }

        &:hover::after {
            transform: scaleY(1);
        }
    }

    .menuItem {
        text-decoration: none;
        font-family: var.$text-fontFamily;
        font-size: 1.1rem;
        font-weight: 300;
        color: #f3eaff;

        padding: .5em;
        position: relative;
    }
}