@use '../../styles/variables' as var;

.containerProjetsItems {
    display: grid;
    grid-template-columns: repeat(3, minmax(20px, 12em));
    gap: 10px;
    justify-content: center;

    margin-top: 2em;

    .projectDetails {
        background-color: whitesmoke;
        padding: .3em;
        border-radius: 5px;
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
        height: max-content;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .projectImage {

            img {
                height: 10em;
                width: 100%;

                cursor: pointer;

                transition: transform .3s ease-out;

                &:hover {
                    transform: scale(1.1);
                }
            }
        }

        .projectDescription {
            background-color: #ffffff;

            p {
                font-family: var.$text-fontFamily;
                font-size: .9rem;
                font-weight: 400;
                color: var.$text-color-backgroundWhite;
                padding: .5em;
            }
        }
    }

    .containerAmplifiedImage {
        .overlay {
            position: absolute;
            height: 25em;
            top: 25%;
            left: 4%;
      
            .amplifiedImage {
                height: 100%;
                box-shadow: 0 10px 40px rgba(0, 0, 0, 0.4);
                border-radius: 10px;
            }
            
            .exit {
                position: absolute;
                top: 10px;
                right: 10px;
                cursor: pointer;
            }
        }

    }

    .containerIcons {
        padding: .2em;
        background-color: whitesmoke;
        .iconCode, .iconPage {
            display: flex;
            align-items: center;
            gap: 5px;
            span {
                font-family: var.$title-fontFamily;
                font-size: .8rem;
                font-weight: bold;
                color: var.$focus-color;
            }
            
            a {
                color: var.$primary-color;
                transition: all .2s ease-in;

                &:hover {
                    transform: scale(1.2);
                    color: #6f00ff; 
                }
            }
        }

    }
}

@media (min-width: 320px) {
    .containerProjetsItems {
        grid-template-columns: repeat(1, minmax(25px, 15em));
        
        .containerAmplifiedImage {
            .overlay {
                height: 9em;

                .amplifiedImage {
                    border-radius: 5px;
                }
            }
        }
    }
}

@media (min-width: 768px) {
    .containerProjetsItems {
        grid-template-columns: repeat(2, minmax(25px, 18em));

        .containerAmplifiedImage {
            .overlay {
                left: 6.5%;
                height: 20.5em;
            }
        }
    }
}

@media (min-width: 884px) {
    .containerProjetsItems {
        .containerAmplifiedImage {
            .overlay {
                left: 4%;
                height: 25em;
            }
        }
    }
}

@media (min-width: 1280px) {
    .containerProjetsItems {
        grid-template-columns: repeat(3, minmax(25px, 18em));

        .containerAmplifiedImage {
            .overlay {
                left: 11%;
                height: 30em;
            }
        }
    }
}

@media (min-width: 1280px) {
    .containerProjetsItems {
        grid-template-columns: repeat(4, minmax(25px, 18em));

        .containerAmplifiedImage {
            .overlay {
                top: 20%;
                left: 20%;
                height: 35em;
            }
        }
    }
}